body {
      background-color: rgb(204, 204, 204);
      font-family: Arial, sans-serif;
    }
    h1, h2 {
      text-align: center;
    }
    ul {
      padding: 20px;
      border: 2px solid black;
      width: 300px;
      margin: 0 auto 20px;
      background-color: white;
    }
    li {
      list-style-type: none;
      margin: 10px 0;
    }
    a {
      text-decoration-line: none;
    }
    .player_one, .player_two {
      background-color: rgb(255, 255, 255);
      padding: 20px;
      border-radius: 10px;
      width: 90%;
      margin: 0 auto;
    }